.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1184px;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .header {
    margin: 0 24px;
    padding: 28px 0 0 0;
    max-width: calc(100% - 56px);
  }
}

@media screen and (min-width: 1025px) {
  .header {
    margin: 0 48px;
    padding: 28px 0 0 0;
    max-width: calc(100% - 96px);
  }
}

@media screen and (min-width: 1284px) {
  .header {
    margin: 0 auto;
    padding: 28px 0 0 0;
    max-width: 1184px;
  }
}